### Importing Libraries

In [ ]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 75

### Importing data set

In [ ]:
description_listing = pd.read_csv("Listings_data_dictionary.csv", encoding= "ISO-8859-1")

In [ ]:
description_review = pd.read_csv("Reviews_data_dictionary.csv", encoding= "ISO-8859-1")

In [ ]:
Review_df = pd.read_csv("Reviews.csv", encoding= "ISO-8859-1")
Review_df

In [ ]:
listing_df = pd.read_csv("Listings.csv", encoding= "ISO-8859-1")
listing_df.head(50)

In [ ]:

listing_df.host_location.value_counts()

In [ ]:
listing_df['Last'] = listing_df['host_location'].str.split(',').str[-1]

In [ ]:
listing_df

In [ ]:
listing_df.Last.unique()

In [ ]:
percent_missing = listing_df.isnull().sum() * 100 / len(listing_df)
percent_missing

In [ ]:
listing_df.room_type.unique()

In [ ]:
listing_df.property_type.unique()

In [ ]:
#amenities
listing_df.amenities.value_counts()

In [ ]:
for i, l in enumerate(listing_df["amenities"]):
    print("list",i,"is",type(l))
#list in the row is a string not a list

In [ ]:
fruits["favorite_fruits"] = fruits["favorite_fruits"].apply(eval)

In [ ]:
split_df = pd.DataFrame(df['Values'].tolist())

In [ ]:
listing_df.DataFrame(listing_df["amenities"].to_list())

In [ ]:
print(listing_df

def clean_alt_list(list_):
    list_ = list_.replace(', ', '","')
    list_ = list_.replace('[', '["')
    list_ = list_.replace(']', '"]')
    return list_

In [41]:
listing_df["amenities"] = listing_df["amenities"].apply(clean_alt_list)

AttributeError: 'list' object has no attribute 'replace'

In [20]:
print(listing_df['host_id'].value_counts())

291007369    627
175128252    396
7518056      378
97240131     339
371026651    295
            ...
16023084       1
23197732       1
22260507       1
24570082       1
6955618        1
Name: host_id, Length: 182024, dtype: int64

In [22]:
#city
print(listing_df['city'].value_counts())

Paris             64690
New York          37012
Sydney            33630
Rome              27647
Rio de Janeiro    26615
Istanbul          24519
Mexico City       20065
Bangkok           19361
Cape Town         19086
Hong Kong          7087
Name: city, dtype: int64