### Importing Libraries

In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox

pd.options.display.max_rows = 200

### Loading Data Set

In [41]:
netflix = pd.read_csv('netflix_titles.csv')
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

## Data Cleaning
### - remove the string in the columns that appear as a the first string of the row but is not a genre 
This step is to allow us to be able to classify the different rows in the column listed_in into various genres

In [29]:
netflix['listed_in'] = netflix['listed_in'].apply(lambda x: x.lstrip('International TV Shows, '))
netflix['listed_in']

0                                           Documentaries
1                                    Dramas, TV Mysteries
2       Crime TV Shows, International TV Shows, TV Act...
3                                  Docuseries, Reality TV
4                          Romantic TV Shows, TV Comedies
                              ...
8802                       Cult Movies, Dramas, Thrillers
8803               Kids' TV, Korean TV Shows, TV Comedies
8804                              Comedies, Horror Movies
8805                   Children & Family Movies, Comedies
8806       Dramas, International Movies, Music & Musicals
Name: listed_in, Length: 8807, dtype: object

netflix['listed_in'] = netflix['listed_in'].map(lambda x: x.lstrip('British TV Shows,'))
netflix['listed_in'] = netflix['listed_in'].map(lambda x: x.lstrip("panish-Language TV Shows,"))
netflix['listed_in'] = netflix['listed_in'].map(lambda x: x.lstrip("Korean TV Shows,"))

### Selecting the first string in the column listed_in  to be able to classify them in various genres

In [30]:
#netflix['listed_in']= netflix['listed_in'].str.split(',', 1)
#netflix['listed_in']

netflix['listed_in'].str.split(',', 1)

In [39]:
netflix['listed_in'].apply(lambda x: x.split(',')[0] if len(x.split(',') > 1).head(20)

SyntaxError: unexpected EOF while parsing (4270982792.py, line 1)

In [14]:
netflix['listed_in'][netflix['listed_in'] == '']

18
29
122
148
150
297
358
384
485
600
622
726
771
788
816
824
866
971
1013
1034
1046
1187
1309
1331
1358
1393
1409
1610
1624
1631
1700
1721
2232
2311
2597
2757
2877
3107
3429
3657
3734
3893
4250
5077
5156
6024
6042
6123
6141
6214
6330
6347
6469
6597
6598
6601
6616
6709
6735
6738
6869
6915
6950
7065
7166
7213
7322
7482
7701
7728
7743
7905
8039
8079
8173
8281
8492
8520
8535
8537
8566
8648
8704
Name: listed_in, dtype: object

In [28]:
netflix.listed_in.unique()

array(['Documentaries', 'Dramas', 'Crime TV Shows', 'Docuseries',
       'Romantic TV Shows', 'Children & Family Movies',
       'British TV Shows', 'Comedies', '', 'panish-Language TV Shows',
       'Action & Adventure', 'Horror Movies', "Kids' TV", 'Reality TV',
       'Anime Series', 'Movies', 'ci-Fi & Fantasy', 'Classic Movies',
       'd-Up Comedy', 'd-Up Comedy & Talk Shows', 'Classic & Cult TV',
       'Anime Features', 'Korean TV Shows', 'Cult Movies', 'Horror',
       'dependent Movies', 'Mysteries', 'Music & Musicals',
       'Romantic Movies', 'LGBTQ Movies', 'ports Movies'], dtype=object)

In [30]:
netflix['listed_in'] = netflix['listed_in'].replace({'Docuseries':'Documentary',"Documentaries": "Documentary",
                                                     'Crime TV Shows':'Crime', 'Romantic TV Shows':'Romantic', 
                                                     "Children & Family Movies": 'Children & Family','Comedies':'Comedy',
                                                     'Horror Movies':'Horror',"Kids' TV": 'Children & Family',
                                                     'Anime Features':'Animation', 
                                                     'Anime Series':'Animation','ci-Fi & Fantasy':"Sci-fi",
                                                     "d-Up Comedy & Talk Shows":'Comedy', 
                                                     'tand-Up Comedy & Talk Shows': 'Comedy', 
                                                     'Romantic Movies': 'Romantic',
                                                    'd-Up Comedy':'Comedy',
                                                     'Cult Movies':'Cult',
                                                    'Classic & Cult TV':"Cult"})

In [31]:
netflix.listed_in.nunique()

23

In [32]:
netflix["listed_in"].value_counts()

Dramas                      1862
Comedy                      1788
Documentary                 1050
Children & Family            994
Action & Adventure           933
Crime                        399
Horror                       299
Romantic                     253
British TV Shows             253
Animation                    197
Movies                       185
Reality TV                   180
Korean TV Shows              108
                              83
Classic Movies                80
panish-Language TV Shows      53
Cult                          34
dependent Movies              20
Music & Musicals              18
Sci-fi                        14
Mysteries                      2
LGBTQ Movies                   1
ports Movies                   1
Name: listed_in, dtype: int64