# Pandas: grouping

In [42]:
import pandas as pd
import numpy as np

In [43]:
cars = pd.read_csv("vehicles.csv")

In [79]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,Year_range
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,80s
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,80s
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,80s
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,80s
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,80s

How many Car models?

In [80]:
Unique_car_Model = cars['Model'].nunique()
Unique_car_Model

3608

group by the data by the Make  using count function

In [81]:
cars.groupby('Make').count()

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,Year_range
Make,,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20

What brand has the most cars?

In [82]:
cars.groupby('Make')['Model'].count().sort_values(ascending=False)

Make
Chevrolet                             3643
Ford                                  2946
Dodge                                 2360
GMC                                   2347
Toyota                                1836
                                      ...
Excalibur Autos                          1
S and S Coach Company  E.p. Dutton       1
Environmental Rsch and Devp Corp         1
E. P. Dutton, Inc.                       1
Lambda Control Systems                   1
Name: Model, Length: 127, dtype: int64

Chevrolet ha sthe most cars

<b>show the average CO2_Emission_Grams/Km  by Brand

In [110]:
cars.groupby('Make')['CO2 Emission Grams/Mile'].apply(lambda x:x.mean() /1.60934).reset_index()
#1 Mile = 1.60934 Km

                            Make  CO2 Emission Grams/Mile
0                     AM General               379.881345
1               ASC Incorporated               345.133719
2                          Acura               262.583000
3                     Alfa Romeo               288.287195
4    American Motors Corporation               314.264744
..                           ...                      ...
122                   Volkswagen               244.038998
123                        Volvo               270.796572
124        Wallace Environmental               408.857065
125                         Yugo               221.251107
126                        smart               153.498052

[127 rows x 2 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [111]:
cars.groupby('Make')['CO2 Emission Grams/Mile'].apply(lambda x:x.mean() /1.60934).sort_values(ascending=False)

Make
Vector                                651.919248
Superior Coaches Div E.p. Dutton      552.213951
S and S Coach Company  E.p. Dutton    552.213951
Bugatti                               542.497235
Laforza Automobile Inc                502.012683
                                         ...
MINI                                  194.935105
Daihatsu                              192.742404
Fiat                                  189.311494
smart                                 153.498052
Fisker                                105.011992
Name: CO2 Emission Grams/Mile, Length: 127, dtype: float64

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [85]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [86]:
cars["Year_range"] = pd.qcut(cars["Year"], 
                             q=4,
                             labels=["80s", "90s", "00s", "10s"])
cars["Year_range"].unique

<bound method Series.unique of 0        80s
1        80s
2        80s
3        80s
4        80s
        ...
35947    10s
35948    10s
35949    10s
35950    10s
35951    10s
Name: Year_range, Length: 35952, dtype: category
Categories (4, object): ['80s' < '90s' < '00s' < '10s']>

In [87]:
cars.groupby("Year_range").describe()

              Year                                                         \
             count         mean       std     min     25%     50%     75%
Year_range
80s         9048.0  1987.528294  2.204900  1984.0  1986.0  1987.0  1989.0
90s         8949.0  1996.236674  2.968557  1992.0  1994.0  1996.0  1999.0
00s         9964.0  2006.115114  2.542324  2002.0  2004.0  2006.0  2008.0
10s         7991.0  2013.934051  1.927803  2011.0  2012.0  2014.0  2016.0

                   Engine Displacement            ... CO2 Emission Grams/Mile  \
               max               count      mean  ...                     75%
Year_range                                        ...
80s         1991.0              9048.0  3.248011  ...              592.466667
90s         2001.0              8949.0  3.270868  ...              555.437500
00s         2010.0              9964.0  3.493196  ...              555.437500
10s         2017.0              7991.0  3.323777  ...              480.000000

                        Fuel Cost/Year                                  \
                    max          count         mean         std    min
Year_range
80s         1269.571429         9048.0  1909.278294  526.350903  700.0
90s         1110.875000         8949.0  1926.690133  494.802847  650.0
00s         1110.875000         9964.0  1965.862104  488.862249  650.0
10s          888.700000         7991.0  1744.180954  490.083058  600.0


               25%     50%     75%     max
Year_range
80s         1500.0  1850.0  2200.0  5800.0
90s         1600.0  1850.0  2200.0  5050.0
00s         1600.0  1950.0  2200.0  5050.0
10s         1400.0  1700.0  2000.0  4050.0

[4 rows x 72 columns]

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [88]:
average_City_Km_Liter = cars.groupby('Year_range')['CO2 Emission Grams/Mile'].apply(lambda x:x.mean() *1.60934 / 3.78541)
average_City_Km_Liter

Year_range
80s    212.760130
90s    208.164948
00s    205.307362
10s    179.136570
Name: CO2 Emission Grams/Mile, dtype: float64

Which brands are more environment friendly?

In [103]:
cars.sort_values(['CO2 Emission Grams/Mile'],ascending=False).groupby('Make').mean()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,
AM General,1984.500000,3.350000,5.000000,22.674670,15.000000,15.000000,14.750000,611.358244,2287.500000
ASC Incorporated,1987.000000,3.800000,6.000000,20.600625,14.000000,21.000000,16.000000,555.437500,2550.000000
Acura,2003.493377,2.834768,5.231788,15.673371,18.890728,25.940397,21.506623,422.585325,1852.483444
Alfa Romeo,1991.878049,2.556098,5.317073,17.208234,17.097561,23.902439,19.512195,463.952115,1962.195122
American Motors Corporation,1984.590909,3.813636,5.545455,18.758092,16.045455,20.181818,17.681818,505.758823,1893.181818
...,...,...,...,...,...,...,...,...,...
Volkswagen,2002.928367,2.236008,4.595033,14.594784,21.226361,28.985673,24.093601,392.741721,1579.417383
Volvo,2002.182706,2.504742,4.945607,16.186996,17.981869,25.064156,20.605300,435.803755,1812.273361
Wallace Environmental,1991.500000,4.315625,7.812500,24.404196,12.437500,16.000000,13.875000,657.990029,2996.875000
Yugo,1988.375000,1.200000,4.000000,13.206218,23.000000,28.250000,25.000000,356.068256,1350.000000
smart,2012.500000,0.980000,3.000000,9.208922,33.300000,39.300000,35.800000,247.030556,1110.000000

In [108]:
cars.groupby('Make')['CO2 Emission Grams/Mile'].mean().sort_values().head(10)

Make
Fisker           169.000000
smart            247.030556
Fiat             304.666560
Daihatsu         310.188060
MINI             313.716862
Scion            331.395918
Geo              337.077591
Yugo             356.068256
Grumman Olson    356.337423
Honda            357.532578
Name: CO2 Emission Grams/Mile, dtype: float64

In [77]:
### your code is here

                                    CO2_Emission_Grams/Km
Decade Brand
80s    AMG                                     379.881345
       ASC                                     345.133719
       Acura                                   268.497682
       Alfa Romeo                              286.715163
       American Motors Corporation             314.264744
...                                                   ...
10s    Volkswagen                              219.440984
       Volvo                                   250.429309
       Wallace Environmental                          NaN
       Yugo                                           NaN
       smart                                   153.509751

[488 rows x 1 columns]

Does the drivetrain affect fuel consumption?

In [40]:
cars.groupby('Drivetrain')['Highway MPG', 'City MPG'].mean()

/var/folders/kj/pw968s0n629876mdc5tg0zhh0000gq/T/ipykernel_26766/2532443965.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  cars.groupby('Drivetrain')['Highway MPG', 'City MPG'].mean()

                            Highway MPG   City MPG
Drivetrain
2-Wheel Drive                 19.340426  15.624113
2-Wheel Drive, Front          33.000000  25.000000
4-Wheel Drive                 22.741966  16.913989
4-Wheel or All-Wheel Drive    19.633708  15.035061
All-Wheel Drive               25.597352  18.312898
Front-Wheel Drive             28.616759  21.174563
Part-time 4-Wheel Drive       19.088608  14.620253
Rear-Wheel Drive              21.225680  15.422049

In [139]:
## Your Code here

                            Highway_Km/Liter  City_Km/Liter
Drivetrain
2-Wheel Drive, Front               14.029714      10.628571
Front-Wheel Drive                  12.166210       9.002214
All-Wheel Drive                    10.882531       7.785598
4-Wheel Drive                       9.668584       7.190861
2-Wheel Drive                       8.222444       6.642480
Rear-Wheel Drive                    9.023946       6.556574
4-Wheel or All-Wheel Drive          8.347130       6.392049
Part-time 4-Wheel Drive             8.115385       6.215696

Do cars with automatic transmission consume more fuel than cars with manual transmission?

Use `groupby` and `aggregate` with different aggregation measures for different columns:

In [45]:
cars.Transmission.unique()

array(['Automatic 3-spd', 'Automatic 4-spd', 'Manual 5-spd',
       'Automatic (S5)', 'Manual 6-spd', 'Automatic 5-spd', 'Auto(AM8)',
       'Auto(AM-S8)', 'Auto(AV-S7)', 'Automatic (S6)', 'Automatic (S9)',
       'Automatic (S4)', 'Auto(AM-S9)', 'Automatic (S7)', 'Auto(AM7)',
       'Auto(AM-S7)', 'Auto(AM6)', 'Automatic 6-spd', 'Manual 4-spd',
       'Automatic (S8)', 'Manual(M7)', 'Auto(AM-S6)',
       'Automatic (variable gear ratios)', 'Automatic (AV)',
       'Auto(AV-S8)', 'Automatic (AM6)', 'Automatic 8-spd', 'Auto(A1)',
       'Automatic (A1)', 'Automatic (A6)', 'Auto(AV-S6)', 'Manual 3-spd',
       'Manual 7-spd', 'Automatic 9-spd', 'Auto (AV)', 'Automatic 6spd',
       'Auto(L4)', 'Auto(L3)', 'Auto (AV-S6)', 'Auto (AV-S8)',
       'Automatic (AV-S6)', 'Automatic 7-spd', 'Manual 5 spd',
       'Auto(AM5)', 'Automatic (AM5)'], dtype=object)

In [54]:
cars.loc[cars['Transmission'].str.contains('Auto', case=False), 'Transmission'] = 'Automatic'
cars.loc[cars['Transmission'].str.contains('Manual', case=False), 'Transmission'] = 'Manual'
cars.Transmission.unique()

array(['Automatic', 'Manual'], dtype=object)

In [129]:
#cars.groupby("Transmission")['Fuel Barrels/Year'].mean()
cars.groupby(['Transmission']).agg({'Transmission'}).reset_index()

AttributeError: 'SeriesGroupBy' object has no attribute 'Transmission'

In [57]:
## Your Code here

aggregate with average City_Km/Liter and the count of the Trans

In [70]:
## your code is here

Transmission
Automatic    7.670917
Manual       7.101971
Name: Fuel Barrels/Year, dtype: float64

aggregate with average City_Km/Liter and the minimum of the Trans

In [144]:
### your code is here

           City_Km/Liter
Trans
Automatic       2.976000
Manual          2.550857

In [ ]:
cars.groupby(['id','product']).agg({'quantity':'sum'}).reset_index()
print df