# Pandas: grouping

In [111]:
import pandas as pd
import numpy as np

In [112]:
cars = pd.read_csv("vehicles.csv")

In [113]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [114]:
Unique_car_Model = cars['Model'].nunique()
Unique_car_Model

3608

group by the data by the Make  using count function

In [115]:
cars.groupby('Make').count()

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

What brand has the most cars?

In [116]:
cars.groupby('Make')['Model'].count().sort_values(ascending=False)

Make
Chevrolet                             3643
Ford                                  2946
Dodge                                 2360
GMC                                   2347
Toyota                                1836
                                      ...
Excalibur Autos                          1
S and S Coach Company  E.p. Dutton       1
Environmental Rsch and Devp Corp         1
E. P. Dutton, Inc.                       1
Lambda Control Systems                   1
Name: Model, Length: 127, dtype: int64

Chevrolet ha sthe most cars

<b>show the average CO2_Emission_Grams/Km  by Brand

In [117]:
cars.groupby('Make')['CO2 Emission Grams/Mile'].apply(lambda x:x.mean() *1.60934)
#1 Mile = 1.60934 Km

Make
AM General                      983.883276
ASC Incorporated                893.887786
Acura                           680.083467
Alfa Romeo                      746.656697
American Motors Corporation     813.937904
                                  ...
Volkswagen                      632.054961
Volvo                           701.356415
Wallace Environmental          1058.929674
Yugo                            573.034887
smart                           397.556154
Name: CO2 Emission Grams/Mile, Length: 127, dtype: float64

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [118]:
cars.groupby('Make')['CO2 Emission Grams/Mile'].apply(lambda x:x.mean() *1.60934).sort_values(ascending=False)

Make
Vector                                1688.454707
Superior Coaches Div E.p. Dutton      1430.220458
S and S Coach Company  E.p. Dutton    1430.220458
Bugatti                               1405.054404
Laforza Automobile Inc                1300.200416
                                         ...
MINI                                   504.877095
Daihatsu                               499.198053
Fiat                                   490.312081
smart                                  397.556154
Fisker                                 271.978460
Name: CO2 Emission Grams/Mile, Length: 127, dtype: float64

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [119]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [120]:
labels = ['80s', '90s', '00s', '10s' ]
cars['Year'] = pd.cut(cars['Year'], bins= 4, labels = labels)
cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,80s,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,80s,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,80s,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,80s,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,80s,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,10s,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,10s,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,10s,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,10s,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,10s,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [104]:
cars.groupby("Year").describe()

     Engine Displacement                                               \
                   count      mean       std  min  25%  50%  75%  max
Year
80s              10155.0  3.251423  1.438436  1.0  2.2  2.8  4.3  8.0
90s               6940.0  3.276830  1.356314  1.0  2.2  3.0  4.3  8.0
00s               8575.0  3.444700  1.233523  1.0  2.4  3.3  4.3  8.4
10s              10282.0  3.377534  1.373657  0.6  2.3  3.2  4.2  8.4

     Cylinders            ... CO2 Emission Grams/Mile               \
         count      mean  ...                     75%          max
Year                      ...
80s    10155.0  5.518464  ...              592.466667  1269.571429
90s     6940.0  5.699424  ...              555.437500  1110.875000
00s     8575.0  6.000700  ...              555.437500  1110.875000
10s    10282.0  5.856448  ...              493.722222   888.700000

     Fuel Cost/Year                                                          \
              count         mean         std    min     25%     50%     75%
Year
80s         10155.0  1915.662235  528.257681  700.0  1500.0  1850.0  2200.0
90s          6940.0  1918.551873  491.100940  650.0  1600.0  1850.0  2200.0
00s          8575.0  1985.276968  480.976904  650.0  1650.0  1950.0  2200.0
10s         10282.0  1775.009726  495.400128  600.0  1400.0  1750.0  2087.5


         max
Year
80s   5800.0
90s   5050.0
00s   5050.0
10s   4050.0

[4 rows x 64 columns]

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [12]:
average_City_Km_Liter = cars.groupby('Year')['CO2 Emission Grams/Mile'].apply(lambda x:x.mean() *1.60934 / 3.78541)
average_City_Km_Liter

Year
80s    212.852934
90s    207.582714
00s    207.552984
10s    183.152328
Name: CO2 Emission Grams/Mile, dtype: float64

Which brands are more environment friendly?

In [126]:
cars.groupby(['Year','Make'])['CO2 Emission Grams/Mile'].apply(lambda x:x.min()*1.60934)

Year  Make
80s   AM General                     841.306152
      ASC Incorporated               893.887786
      Acura                          572.088183
      Alfa Romeo                     621.834982
      American Motors Corporation    681.057361
                                        ...
10s   Volkswagen                     321.868000
      Volvo                          383.022920
      Wallace Environmental                 NaN
      Yugo                                  NaN
      smart                          391.069620
Name: CO2 Emission Grams/Mile, Length: 508, dtype: float64

In [77]:
### your code is here

                                    CO2_Emission_Grams/Km
Decade Brand
80s    AMG                                     379.881345
       ASC                                     345.133719
       Acura                                   268.497682
       Alfa Romeo                              286.715163
       American Motors Corporation             314.264744
...                                                   ...
10s    Volkswagen                              219.440984
       Volvo                                   250.429309
       Wallace Environmental                          NaN
       Yugo                                           NaN
       smart                                   153.509751

[488 rows x 1 columns]

Does the drivetrain affect fuel consumption?

In [127]:
cars.groupby('Drivetrain')['Highway MPG', 'City MPG'].mean()

/var/folders/kj/pw968s0n629876mdc5tg0zhh0000gq/T/ipykernel_44452/2532443965.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  cars.groupby('Drivetrain')['Highway MPG', 'City MPG'].mean()

                            Highway MPG   City MPG
Drivetrain
2-Wheel Drive                 19.340426  15.624113
2-Wheel Drive, Front          33.000000  25.000000
4-Wheel Drive                 22.741966  16.913989
4-Wheel or All-Wheel Drive    19.633708  15.035061
All-Wheel Drive               25.597352  18.312898
Front-Wheel Drive             28.616759  21.174563
Part-time 4-Wheel Drive       19.088608  14.620253
Rear-Wheel Drive              21.225680  15.422049

In [139]:
## Your Code here

                            Highway_Km/Liter  City_Km/Liter
Drivetrain
2-Wheel Drive, Front               14.029714      10.628571
Front-Wheel Drive                  12.166210       9.002214
All-Wheel Drive                    10.882531       7.785598
4-Wheel Drive                       9.668584       7.190861
2-Wheel Drive                       8.222444       6.642480
Rear-Wheel Drive                    9.023946       6.556574
4-Wheel or All-Wheel Drive          8.347130       6.392049
Part-time 4-Wheel Drive             8.115385       6.215696

Do cars with automatic transmission consume more fuel than cars with manual transmission?

Use `groupby` and `aggregate` with different aggregation measures for different columns:

In [45]:
cars.Transmission.unique()

array(['Automatic 3-spd', 'Automatic 4-spd', 'Manual 5-spd',
       'Automatic (S5)', 'Manual 6-spd', 'Automatic 5-spd', 'Auto(AM8)',
       'Auto(AM-S8)', 'Auto(AV-S7)', 'Automatic (S6)', 'Automatic (S9)',
       'Automatic (S4)', 'Auto(AM-S9)', 'Automatic (S7)', 'Auto(AM7)',
       'Auto(AM-S7)', 'Auto(AM6)', 'Automatic 6-spd', 'Manual 4-spd',
       'Automatic (S8)', 'Manual(M7)', 'Auto(AM-S6)',
       'Automatic (variable gear ratios)', 'Automatic (AV)',
       'Auto(AV-S8)', 'Automatic (AM6)', 'Automatic 8-spd', 'Auto(A1)',
       'Automatic (A1)', 'Automatic (A6)', 'Auto(AV-S6)', 'Manual 3-spd',
       'Manual 7-spd', 'Automatic 9-spd', 'Auto (AV)', 'Automatic 6spd',
       'Auto(L4)', 'Auto(L3)', 'Auto (AV-S6)', 'Auto (AV-S8)',
       'Automatic (AV-S6)', 'Automatic 7-spd', 'Manual 5 spd',
       'Auto(AM5)', 'Automatic (AM5)'], dtype=object)

In [54]:
cars.loc[cars['Transmission'].str.contains('Auto', case=False), 'Transmission'] = 'Automatic'
cars.loc[cars['Transmission'].str.contains('Manual', case=False), 'Transmission'] = 'Manual'
cars.Transmission.unique()

array(['Automatic', 'Manual'], dtype=object)

In [129]:
#cars.groupby("Transmission")['Fuel Barrels/Year'].mean()
cars.groupby(['Transmission']).agg({'Transmission'}).reset_index()

AttributeError: 'SeriesGroupBy' object has no attribute 'Transmission'

In [57]:
## Your Code here

aggregate with average City_Km/Liter and the count of the Trans

In [70]:
## your code is here

Transmission
Automatic    7.670917
Manual       7.101971
Name: Fuel Barrels/Year, dtype: float64

aggregate with average City_Km/Liter and the minimum of the Trans

In [144]:
### your code is here

           City_Km/Liter
Trans
Automatic       2.976000
Manual          2.550857

In [ ]:
cars.groupby(['id','product']).agg({'quantity':'sum'}).reset_index()
print df